@charset "utf-8";

.fadein-out {
  transition:
    opacity 1.5s,
    visibility 1.5s;
}

#container {
  display: flex;
  flex-direction: column; /*要素を縦並べにする*/
  justify-content: center; /*左右中央寄せ*/
  align-items: center; /*上下中央寄せ*/
  position: relative; /* 重ね合わせの基準にする */
}

#svgRouletteBase {
  position: absolute; /*上に重ね合わせる*/
  z-index: 30;
}

#blackoutCover {
  position: fixed; /* ブラウザの定位置に固定 */
  background: rgba(0, 0, 0, 0.5); /* 背景色を半透明の黒色に */
  width: 100%; /* 要素の横幅を画面全体に */
  height: 100%; /* 要素の高さを画面全体に */
  top: 0; /* 要素の固定位置をブラウザ最上部に合わせる */
  left: 0; /* 要素の固定位置をブラウザ左側に合わせる */
  z-index: 20; /* 要素をコンテンツより前面に*/
  visibility: hidden;
}

#ulTodoList {
  list-style: none; /*中黒消去*/
  padding-left: 0px; /*中黒分の余白消去*/
}

#ulTodoList li input {
  height: 50px;
  width: 300px;
  margin: 10px 0 10px 0;
  text-align: center; /*テキストボックス内の文字は中央寄せ*/
  font-size: 115%;
}

#stopBtn {
  position: absolute; /*上に重ね合わせる*/
  visibility: hidden;
  opacity: 0;
  display: block;
  z-index: 30;
}
